body {
  background-color: antiquewhite;
}

.container {
  background-color: rgb(255, 239, 251);
  border: solid 1px rgb(0, 0, 0);
  border-radius: 5px;
  padding: 20px 20px;
  margin: 50px 50px;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}
